/.vscode
/.build_cache
/assets
/build
/deps
/dist

/feffery_infographic/*.json
/feffery_infographic/*.js
/feffery_infographic/*.map
/feffery_infographic/__pycache__
/feffery_infographic.egg-info

/inst
/man
/node_modules
/R

/src/demo
/src/jl
/src/*.jl

.Rbuildignore
package-lock.json
CONTRIBUTING.md
DESCRIPTION
index.html
NAMESPACE
review_checklist.md